* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(48, 48, 54);
}

/*First Container*/

#landing{
    height: 100vh;
}

.intro {
    color: white;
    font-size: 3rem;
    margin: 5rem;
    margin-top: 10rem;
}

.introText {
    color: whitesmoke;
    font-family: 'Varela Round';
    font-size: 1.5rem;
    width: auto;
    margin: 5rem;
    max-width: 530px;
    text-align: justify;
}

.spanName {
    color: #117bfb;
}

.logoImg {
    width: 330px;
    height: 530px;
    margin-left: 60%;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 #117bfb;
    margin-right: 10rem;
    margin-top: -50rem;
}

.logoImg:hover {
    transform: scale(1.1);
    box-shadow: 0;
    opacity: 1;
}

/*End of first container*/


/*Second Container*/
#skills {
    height: 100vh;
}

.skillsHead {
    color: white;
    font-size: 3rem;
    margin: 5rem;
    margin-top: 2rem;
}

.skillsClass {
    padding-top: 1rem;
}

.skills {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.skillText {
    font-family: 'Varela Round';
    margin-left: 5rem;
    color: white;
    font-size: 1.5rem;
}

.container {
    width: 60%;
    margin: 1rem;
    position: relative;
    border-radius: 10px;
    left: 4rem;
    background-color: #ddd;
}

.firstSkill {
    height: 15px;
    width: 95%;
    border-radius: 10px;
    background-color: #2196F3;
}

.secondSkill {
    height: 15px;
    width: 90%;
    border-radius: 10px;
    background-color: #2196F3;
}

.thirdSkill {
    height: 15px;
    width: 80%;
    border-radius: 10px;
    background-color: #2196F3;
}

.fourthSkill {
    height: 15px;
    width: 60%;
    border-radius: 10px;
    background-color: #2196F3;
}
/*End of Second Container*/

/*Start of Third Container*/
#projects {
    height: 100vh;
    margin-top: 5rem;
}

.wrapper{
    padding-top: 0.5rem;
}

.flexContainer {
    display: flex;
    margin: 2rem;
    align-content: center;
    justify-content: center;
    background-size: auto;
}

.projectText {
    display: none;
    text-decoration: none;
}

.card {
    background-size: auto;
}

.card p {
    color: white;
    font-family: 'Alata';
    font-weight: bold;
    text-align: center;
    font-size: 1rem;    
}

.card a{
    text-decoration: none;
}

.card img {
    width: 350px;
    height: 300px;
    z-index: -1;
    padding: 1rem;
    border-radius: 30px;
}

.card:hover {
    opacity: 100%;
    transform: scale(1.1);
}
/*End of Third Container*/